
    <!-- <nz-form-label>{{"UPLOAD_FILE_AGENDA" | translate }}<span class="red-color">*</span></nz-form-label><br>
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button (click)="submitForm()"
       nz-button><i nz-icon
          nzType="upload"></i><span>{{"SELECT_FILE" | translate }}</span></button>
    </nz-upload> -->
    <!-- <nz-form-label>{{"UPLOAD_FILE_AGENDA" | translate }}<span class="red-color">*</span></nz-form-label><br>
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button (click)="submitForm()"
        [disabled]="!meetingReportForm.valid || imageValue || fileList.length != 0" nz-button><i nz-icon
          nzType="upload"></i><span>{{"SELECT_FILE" | translate }}</span></button>
    </nz-upload> -->




