<div class="utils__title">
  <strong>meeting all
  </strong>
  <button style="margin-top: -13px;" nzSize="small" class="float-right" nzType="primary" nz-button>Call For
    Meeting</button>
</div>
<nz-table #meetingAlltable [nzData]="dashBordSetupModelService.displayData" class="utils__scrollTable" [nzPageIndex]="1"
  nzPageSize="5" nzSimple nzShowSizeChanger nzShowTotal [nzLoading]="isDataLoading">
  <thead>
    <thead>
      <tr>
        <th class="text-center" nzLeft="0px">{{"MEETING_ID" | translate }}</th>
        <th class="text-center" nzLeft="0px">{{"DESCRIPTION" | translate }}</th>
        <th class="text-center" nzLeft="0px">{{"DATE" | translate }}</th>
      </tr>
    </thead>
  <tbody>
    <ng-template ngFor let-medan [ngForOf]="meetingAlltable.data">
      <tr>
        <td class="text-center">{{medan.MEETING_ID}}</td>
        <td class="text-center">{{medan.MEETING_DESCRIPTION}}</td>
        <td class="text-center">{{medan.MEETING_DATE | date}}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>



