<div class="card">
  <div class="card-header">
    <form nz-form nzLayout="'vertical'" [formGroup]="monthIncrementPercentForm" (ngSubmit)="submitForm()" role="form">
      <div class="md-3">
        <nz-form-control>
          <h4><b>{{"SEARCH_CRITERIA" | translate }}</b></h4>
        </nz-form-control>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">

              <nz-form-control>
                <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'FIRST_MONTH_START_DATE' | translate }}"
                  formControlName="p_first_month_start_date">
                </nz-date-picker>
                <div *ngFor="let validation of validation_messages.p_first_month_start_date">
                  <nz-form-explain class="red-color"
                    *ngIf="p_first_month_start_date.hasError(validation.type) && (p_first_month_start_date.dirty || p_first_month_start_date.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>

            </div>

            <div class="col-lg-3">

              <nz-form-control>
                <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'FIRSH_MONTH_END_DATE' | translate }}"
                  formControlName="p_first_month_end_date">
                </nz-date-picker>
                <div *ngFor="let validation of validation_messages.p_first_month_end_date">
                  <nz-form-explain class="red-color"
                    *ngIf="p_first_month_end_date.hasError(validation.type) && (p_first_month_end_date.dirty || p_first_month_end_date.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>

            </div>
            <div class="col-lg-3">
              <nz-form-control>
                <nz-select [nzLoading]="isfetchingLookup" nzPlaceHolder="{{'ITEMS_NAME' | translate }}"
                  formControlName="p_item_code">
                  <nz-option *ngFor="let medan of itemsList"
                    [nzValue]="{ id: medan.ITEMS_ID, enName: medan.EN_NAME, arName: medan.AR_NAME, item_code: medan.ITEM_CODE }"
                    [nzLabel]="lang == 'ar' ? medan.AR_NAME : medan.EN_NAME">

                  </nz-option>
                </nz-select>
              </nz-form-control>
            </div>
            <div class="col-lg-3">

              <nz-form-control>
                <nz-select nzShowSearch [nzLoading]="isfetchingLookup" nzPlaceHolder="{{'SHIFT' | translate }}"
                  formControlName="p_template_id">
                  <nz-option *ngFor="let medan of templateList"
                    [nzValue]="{ id: medan.TEMPLATE_ID, enName: medan.TEMPLATE_NAME_EN, arName: medan.TEMPLATE_NAME_AR }"
                    [nzLabel]="lang == 'ar' ? medan.TEMPLATE_NAME_AR : medan.TEMPLATE_NAME_EN">


                  </nz-option>
                </nz-select>

              </nz-form-control>

            </div>

          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">

            <div class="col-lg-3">

              <nz-form-control>
                <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'SECOND_MONTH_START_DATE' | translate }}"
                  formControlName="p_second_month_start_date">
                </nz-date-picker>
                <div *ngFor="let validation of validation_messages.p_second_month_start_date">
                  <nz-form-explain class="red-color"
                    *ngIf="p_second_month_start_date.hasError(validation.type) && (p_second_month_start_date.dirty || p_second_month_start_date.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>

            </div>

            <div class="col-lg-3">

              <nz-form-control>
                <nz-date-picker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'SECOND_MONTH_END_DATE' | translate }}"
                  formControlName="p_second_month_end_date">
                </nz-date-picker>
                <div *ngFor="let validation of validation_messages.p_second_month_end_date">
                  <nz-form-explain class="red-color"
                    *ngIf="p_second_month_end_date.hasError(validation.type) && (p_second_month_end_date.dirty || p_second_month_end_date.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>

            </div>

            <div class="col-lg-3">
              <nz-form-item>
                <nz-form-control>

                  <nz-tree-select [nzNodes]="allLocations" nzShowSearch nzPlaceHolder="{{'LOCATION' | translate }}"
                    formControlName="p_location_id" [nzDropdownMatchSelectWidth]="true"
                    [nzDropdownStyle]="{ 'max-height': '300px','max-width': '265px' }">
                  </nz-tree-select>

                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-lg-1">
              <button type="submit" nz-button nzType="primary" class="mr-2"
                [disabled]="monthIncrementPercentForm.invalid">{{"SEARCH" | translate }}</button>
            </div>
            <div class="col-lg-1">
              <button type="button" nz-button nzType="primary" (click)="reset()">{{"RESET" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr>
  <div class="card-body">
    <div class="input-group" style="padding-bottom: 11px;">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="{{'SEARCH' | translate }}" (change)="searchItems()"
          [(ngModel)]="searchText">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>

    <div class="float-right">
      <button nz-button nzType="primary" [nzSize]="'size'" nzShape="circle" (click)="exportToExcel()"><i nz-icon
          nzType="download"></i>
      </button>
    </div>
    <br><br>

    <div>
      <nz-table nzBordered #monthIncrementDataTable [nzData]="monthIncrementPercentModelService.displayData"
        class="utils__scrollTable" nzPageSize="5" [nzLoading]="isDataLoading">
        <thead (nzSortChange)="sortData($event)" nzSingleSort>
          <tr>

            <th class="text-center" nzShowSort nzSortKey="EN_NAME">{{ "ITEMS_NAME" | translate }}</th>

            <th class="text-center" nzShowSort nzSortKey="MEASURE_UNIT_EN">{{ "MEASURE_UNIT" | translate }}</th>
            <th class="text-center" nzShowSort nzSortKey="INCREASE_PERCENTAGE">{{ "INCREASE_PERCENTAGE" | translate }}
            </th>

          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="monthIncrementDataTable.data">
            <tr>

              <td *ngIf="lang == 'en'" class="text-center">{{data.EN_NAME}}</td>
              <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_NAME}}</td>
              <td *ngIf="lang == 'en'" class="text-center">{{data.MEASURE_UNIT_EN}}</td>
              <td *ngIf="lang == 'ar'" class="text-center">{{data.MEASURE_UNIT_AR}}</td>
              <td class="text-center">{{data.INCREASE_PERCENTAGE | translatenumber}}</td>

            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div #TABLE #table style="display: none">
  <table>
    <thead (nzSortChange)="sortData($event)" nzSingleSort>
      <tr>

        <th class="text-center" nzShowSort nzSortKey="EN_NAME">{{ "NAME" | translate }}</th>
        <th class="text-center" nzShowSort nzSortKey="MEASURE_UNIT_EN">{{ "MEASURE_UNIT" | translate }}</th>
        <th class="text-center" nzShowSort nzSortKey="INCREASE_PERCENTAGE">{{ "INCREASE_PERCENTAGE" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of monthIncrementPercentModelService.displayData">

        <td *ngIf="lang == 'en'" class="text-center">{{data.EN_NAME}}</td>
        <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_NAME}}</td>
        <td *ngIf="lang == 'en'" class="text-center">{{data.MEASURE_UNIT_EN}}</td>
        <td *ngIf="lang == 'ar'" class="text-center">{{data.MEASURE_UNIT_AR}}</td>
        <td class="text-center">{{data.INCREASE_PERCENTAGE | translatenumber }}</td>
      </tr>

    </tbody>
  </table>
</div>