<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
  <a nz-dropdown class="dropdown">
    <i class="icmn-envelop"></i>
  </a>
  <ul nz-menu class="activity">
    <li nz-menu-item class="item">
      <i class="icon icmn-star-full"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"NOW" | translate }}</span>
          <a href="javascript: void(0);">
            Update Status: <span class="badge badge-danger">{{"NEW" | translate }}</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-stack"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"24_MIN_AGO" | translate }}</span>
          <a href="javascript: void(0);">
            Income: <span class="badge badge-default">{{"$299.00" | translate }}</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-list"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"30_MIN_AGO" | translate }}</span>
          <a href="javascript: void(0);">{{"INBOX_MESSAGE" | translate }}</a>
        </div>
        <div class="descr">
          From: <a href="javascript: void(0);">{{"DAVID_BOWIE" | translate }}</a>
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-home"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"NOW" | translate }}</span>
          <a href="javascript: void(0);">
            Update Status: <span class="badge badge-primary">{{"NEW" | translate }}</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-loop"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"24_MIN_AGO" | translate }}</span>
          <a href="javascript: void(0);">
            Income: <span class="badge badge-warning">{{"$299.00" | translate }}</span>
          </a>
        </div>
        <div class="descr">
          Failed to get available update data. To ensure the proper functioning of your
          application, update now.
        </div>
      </div>
    </li>
    <li nz-menu-item class="item">
      <i class="icon icmn-cog"></i>
      <div class="inner">
        <div class="title">
          <span class="pull-right">{{"30_MIN_AGO" | translate }}</span>
          <a href="javascript: void(0);">{{"INBOX_MESSAGE" | translate }}</a>
        </div>
        <div class="descr">
          From: <a href="javascript: void(0);">{{"DAVID_BOWIE" | translate }}</a>
        </div>
      </div>
    </li>
  </ul>
</nz-dropdown>



