.input-group {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    /* width: 100%; */
    /* margin-right: 34px; */
    margin-left: 101px;
    margin-top: -19px;
    padding-top: -22px;
    padding-bottom: 8px;
}