<nz-card nzTitle="{{'MEETING_AGENDA' | translate }}">
  <nz-card class="pro-level" [nzBordered]="false" >
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <div class="pro">
          <div nz-row>
            18
          </div>
          <div nz-row>
            April
          </div>
          <div nz-row>
            14:00
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="16">
        <div nz-row>
          <h4>{{"INTEGRATION" | translate }}</h4>
        </div>
        <div nz-row>
          <h5>{{"INTEGRATION_FOR_OUTLOOK" | translate }}</h5>
          
        </div>
        <div nz-row>
          <h5 style="color: blue">{{"MEETING_WITH_NGHA" | translate }}</h5>
          
        </div>
      </div>
    </div>
  </nz-card>
  <!-- <nz-comment nzAuthor="Integration for outlook">
        <nz-avatar
          nz-comment-avatar
          style="color: white;
          background: #1890ff;"
          nzIcon="calendar"
        ></nz-avatar>
        <nz-comment-content>
          <p>
            <strong>{{"INTEGRATION" | translate }}</strong> 
          </p>
        </nz-comment-content>
      </nz-comment> -->
  <nz-card>
    <nz-list [nzDataSource]="data" [nzItemLayout]="'vertical'" [nzRenderItem]="item" nzSize="small">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.title">
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</nz-card>
<ng-template #extraTemplate>
  <a>{{"MORE" | translate }}</a>
</ng-template>



