nz-card{
    margin:5px;
}

:host /deep/ .pro-level .ant-card-body{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0
}

.pro{
    background: grey;
    margin-right: 10px;
    height: 6em;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: inherit;
    padding-top: 6px;
    border-radius: 10px;
}