<div class="card">
  <div class="card-header">
    <form nz-form nzLayout="'vertical'" [formGroup]="purchasingReportForm" (ngSubmit)="submitForm()" role="form">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <nz-form-control>
                <h4><b>{{"SEARCH_CRITERIA" | translate }}</b></h4>
              </nz-form-control>
            </div>
            <div class="col-lg-3">

              <nz-form-control>
                <nz-select nzShowSearch [nzLoading]="isfetchingLookup" nzPlaceHolder="{{'ITEMS_NAME' | translate }}"
                  formControlName="p_item_code" style="width: 100%; display: block;">
                  <nz-option *ngFor="let medan of itemsUnitList"
                    [nzValue]="{id: medan.ITEMS_ID, enName: medan.EN_NAME, arName: medan.AR_NAME,item_code:medan.ITEM_CODE }"
                    [nzLabel]="lang == 'ar' ? medan.AR_NAME : medan.EN_NAME">
                  </nz-option>
                </nz-select>

              </nz-form-control>
            </div>

            <div class="col-lg-3">
            </div>

            <div class="col-lg-1">
              <button type="submit" nz-button nzType="primary" class="mr-2">{{"SEARCH" | translate }}</button>
            </div>
            <div class="col-lg-1">
              <button type="button" nz-button nzType="primary" (click)="reset()">{{"RESET" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr>
  <div class="card-body">
    <div class="input-group" style="padding-bottom: 11px;">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="{{'SEARCH' | translate }}" (change)="searchItems()"
          [(ngModel)]="searchText">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>
    <div class="float-right">
      <button nz-button nzType="primary" [nzSize]="'size'" nzShape="circle" (click)="exportToExcel()"><i nz-icon
          nzType="download"></i>
      </button>
    </div>
    <br><br>
    <div>
      <nz-table nzBordered #itemsUnitDataTable [nzData]="purchasingOrderModelService.displayData"
        class="utils__scrollTable" nzPageSize="5" [nzLoading]="isDataLoading">
        <thead (nzSortChange)="sortData($event)" nzSingleSort>
          <tr>
            <th class="text-center" nzShowSort nzSortKey="EN_NAME">{{"NAME" | translate }}</th>
            <th class="text-center" nzShowSort nzSortKey="EN_DESCRIPTION">{{"DESCRIPTION" | translate }}</th>
            <th class="text-center" nzShowSort nzSortKey="MAX_QUANTITY">
              {{"MAX_QUANTITY" | translate }}</th>
            <th class="text-center" nzShowSort nzSortKey="MIN_QUANTITY">
              {{"MIN_QUANTITY" | translate }}</th>

          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="itemsUnitDataTable.data">
            <tr>
              <td *ngIf="lang == 'en'" class="text-center">{{data.EN_NAME}}</td>
              <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_NAME}}</td>
              <td *ngIf="lang == 'en'" class="text-center">{{data.EN_DESCRIPTION}}</td>
              <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_DESCRIPTION}}</td>
              <td class="text-center">{{data.MAX_QUANTITY | translatenumber}}</td>
              <td class="text-center">{{data.MIN_QUANTITY | translatenumber}}</td>

            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div #TABLE #table style="display: none">
  <table>
    <thead (nzSortChange)="sortData($event)" nzSingleSort>
      <tr>
        <th class="text-center" nzShowSort nzSortKey="EN_NAME">{{"NAME" | translate }}</th>
        <th class="text-center" nzShowSort nzSortKey="EN_DESCRIPTION">{{"DESCRIPTION" | translate }}</th>
        <th class="text-center" nzShowSort nzSortKey="MAX_QUANTITY">
          {{"MAX_QUANTITY" | translate }}</th>
        <th class="text-center" nzShowSort nzSortKey="MIN_QUANTITY">
          {{"MIN_QUANTITY" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of purchasingOrderModelService.displayData">
        <td *ngIf="lang == 'en'" class="text-center">{{data.EN_NAME}}</td>
        <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_NAME}}</td>
        <td *ngIf="lang == 'en'" class="text-center">{{data.EN_DESCRIPTION}}</td>
        <td *ngIf="lang == 'ar'" class="text-center">{{data.AR_DESCRIPTION}}</td>
        <td class="text-center">{{data.MAX_QUANTITY | translatenumber}}</td>
        <td class="text-center">{{data.MIN_QUANTITY | translatenumber}}</td>
      </tr>
    </tbody>
  </table>
</div>