.card-bg-color {
    background: #ECECEC;
    padding:30px;
}

[nz-card] {
    width:88rem;
}

span {
    padding: 2px;
}

// input[type="file"] {
//     visibility: hidden;
// }

.pointer {
    cursor: pointer;
}
// [nz-button] {
//     color: white;
//     background-color: green;
// }
