<div class="utils__title">
  <strong>In Progress WorkOrder
  </strong>
  <button class="float-right" style="margin-top: -13px;" nzSize="small" nzType="primary" nz-button>New
    Workorder</button>

</div>
<nz-table #DataTable [nzData]="dashBordSetupModelService.displayData" class="utils__scrollTable" nzPageSize="5"
  nzPageIndex="2" nzShowSizeChanger nzShowTotal [nzLoading]="isDataLoading">
  <thead nzSingleSort>
    <thead>
      <tr>
        <th class="text-center" nzLeft="0px">{{"REQEST_ID" | translate }}</th>
        <th class="text-center" nzLeft="0px">{{"NAME" | translate }}</th>
        <th class="text-center" nzLeft="0px">{{"DESCRIPTION" | translate }}</th>
      </tr>
    </thead>
  <tbody>
    <ng-template ngFor let-medan [ngForOf]="DataTable.data">
      <tr>
        <td class="text-center">{{medan.REQUEST_ID}}</td>
        <td class="text-center">{{medan.PROJECT_NAME}}</td>
        <td class="text-center">{{medan.DESCRIPTION}}</td>
      </tr>
    </ng-template>

  </tbody>
</nz-table>



